@charset "utf-8";

body{
  z-index: 1;
}

.content{
  font-family: "Open Sans";
  font-size: 14px;
  text-decoration: none;
}

.main-menu{
  font-family: "Open Sans";
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.stardust{
  background-image: url('../img/stardust.png')
}

.secondary-menu{
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
  margin-left: 10px;
}

.secondary-menu:hover {
  letter-spacing: 1px;
  font-size: 14px;
}

.selected {
  background: white!important;
  color: black!important;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-border-top-left-radius: solid 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.jp{
  font-size: 30px;
  z-index: 30;
}

.white{
  color: white!important;
}

#jp-left{
  font-family: 'Bad Script', cursive;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

#profile-btn{
  margin-bottom: 15px;
}

.back-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  color: white;
  background-color: rgba(135, 135, 135, 0.50);
  padding: 0.3em;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.back-to-top:hover {
  text-decoration: none;
  color: black!important;
}

.footer {
  font-family: "Open Sans";
  font-size: 11px;
  color: #999999;
  position: relative;
  margin-left: 20px;
  margin-bottom: 10px;
}

.jumbotron p
{
  margin-top: 20px;
}

.thumbnail
{
  margin-bottom: 0;
}

.thumbnail img
{
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.fa-external-link {
  margin-top: 10px;
  margin-left: 10px;
}

.real {
  margin-bottom: 10px;
}

#map_canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}

#rocket {
  left: -2000px;
  top: -80px;
  position: relative;
  animation: animationFrames ease-in 4s;
  animation-iteration-count: 1;
  transform-origin: ;
  -webkit-animation: animationFrames ease-in 4s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames ease-in 4s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: ;
  -o-animation: animationFrames ease-in 4s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: ;
  -ms-animation: animationFrames ease-in 4s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: ;
}

@keyframes animationFrames{
  0% {
    left:210px;
    top:210px;
    opacity:1;
    transform:  rotate(270deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  47% {
    left:-31px;
    top:-80px;
    transform:  rotate(270deg) scaleX(1) scaleY(1) ;
  }
  82% {
    left:-37px;
    top:-80px;
    transform:  rotate(225deg) scaleX(1) scaleY(1) ;
  }
  86% {
  }
  100% {
    left:-359px;
    top:-80px;
    opacity:1;
    transform:  rotate(225deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    left:210px;
    top:210px;
    opacity:1;
    -moz-transform:  rotate(270deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  47% {
    left:-31px;
    top:-80px;
    -moz-transform:  rotate(270deg) scaleX(1) scaleY(1) ;
  }
  82% {
    left:-37px;
    top:-80px;
    -moz-transform:  rotate(225deg) scaleX(1) scaleY(1) ;
  }
  86% {
  }
  100% {
    left:-359px;
    top:-80px;
    opacity:1;
    -moz-transform:  rotate(225deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    left:210px;
    top:210px;
    opacity:1;
    -webkit-transform:  rotate(270deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  47% {
    left:-31px;
    top:-80px;
    -webkit-transform:  rotate(270deg) scaleX(1) scaleY(1) ;
  }
  82% {
    left:-37px;
    top:-80px;
    -webkit-transform:  rotate(225deg) scaleX(1) scaleY(1) ;
  }
  86% {
  }
  100% {
    left:-359px;
    top:-80px;
    opacity:1;
    -webkit-transform:  rotate(225deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    left:210px;
    top:210px;
    opacity:1;
    -o-transform:  rotate(270deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  47% {
    left:-31px;
    top:-80px;
    -o-transform:  rotate(270deg) scaleX(1) scaleY(1) ;
  }
  82% {
    left:-37px;
    top:-80px;
    -o-transform:  rotate(225deg) scaleX(1) scaleY(1) ;
  }
  86% {
  }
  100% {
    left:-359px;
    top:-80px;
    opacity:1;
    -o-transform:  rotate(225deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    left:210px;
    top:210px;
    opacity:1;
    -ms-transform:  rotate(270deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  47% {
    left:-31px;
    top:-80px;
    -ms-transform:  rotate(270deg) scaleX(1) scaleY(1) ;
  }
  82% {
    left:-37px;
    top:-80px;
    -ms-transform:  rotate(225deg) scaleX(1) scaleY(1) ;
  }
  86% {
  }
  100% {
    left:-359px;
    top:-80px;
    opacity:1;
    -ms-transform:  rotate(225deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}
