@charset "utf-8";

body{
  font-family: "Open Sans";
  font-size: 14px;
  text-decoration: none;
}

.main-menu{
  font-family: "Open Sans";
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.secondary-menu{
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: normal;
  color: #000!important;
  line-height: 1.5;
  margin-left: 10px;
}

.secondary-menu:hover {
  letter-spacing: 1px;
  font-size: 14px;
}

.selected {
  background: white!important;
  color: black!important;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-border-top-left-radius: solid 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.jp{
  font-size: 30px;
}

#jp-left{
  font-family: 'Bad Script', cursive;
  font-weight: 400;
  font-size: 30px;
}

#resume-btn{
  margin-bottom: 15px;
}

.back-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  text-decoration: none;
  color: white;
  background-color: rgba(135, 135, 135, 0.50);
  padding: 0.3em;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.back-to-top:hover {
  text-decoration: none;
  color: black!important;
}
