[project]
	description = My Website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/joeytall
[access "refs/for/refs/*"]
	read = group user/joeytall
	push = group user/joeytall
	label-Code-Review = -2..+2 group user/joeytall
	label-Verified = -1..+1 group user/joeytall
	rebase = group user/joeytall
	removeReviewer = group user/joeytall
	submit = group user/joeytall
[access "refs/heads/*"]
	read = group user/joeytall
	create = group user/joeytall
	push = +force group user/joeytall
	pushMerge = group user/joeytall
[access "refs/tags/*"]
	push = +force group user/joeytall
	pushTag = group user/joeytall
	pushSignedTag = group user/joeytall
